<h1>Welcome to Stockist</h1>

<table>
  <tr>
    <th>Shoe Name</th>
    <th></th>
    <th>Shoe Brand</th>
    <th></th>
    <th>Current Stock</th>
    <th></th>
    <th>Stock Level</th>
    <th></th>
    <th>Buy Stock</th>
    <th></th>
    <th>Sell Stock</th>
  </tr>
  <% @stock_items.each do |stock_item|  %>
  <tr>
    <td><a href="/shoes/<%= stock_item.shoe.id %>"><%= stock_item.shoe.name %></a></td>
    <td></td>
    <td><a href="/brands"><%= stock_item.shoe.brand %></td>
    <td></td>
    <td> <%= stock_item.quantity %></td>
    <td></td>
    <td> <%= stock_item.stock_level %></td>
    <td></td>
    <td>
      <!-- give this a proper action in the form -->
      <form  action="/stock_items/<%= stock_item.id %>/buy" method="post">
        <input type="number" name="amount" value="0">
        <input type="submit" value="Buy">
      </form>
    </td>
    <td></td>
    <td>
      <form  action="/" method="post">
        <input type="number" name="amount" value="0">
        <input type="submit" name="" value="Sell">
      </form>
    </td>
  <% end %>
  </tr>

</table>
