<h2>Edit Shoe Details</h2>

<form action="/shoes/ <%= @shoe.id %> " method="post">
  <label for="name">Shoe Name: </label>
  <input type="text" name="name" id="name" value="<%= @shoe.name %>">

  <label for="brand-select">Brand: </label>
  <select class="brand-select" name="brand_id">
    <% @brands.each do |brand|  %>
    <option value="<%= brand.id %>"> <%= brand.name %> </option>
    <% end  %>

  </select>

  <label for="type">Shoe Type: </label>
  <input type="text" name="type" id="type" value="<%= @shoe.type %>">

  <label for="stock-quantity">Stock Quantity: </label>
  <input type="number" name="stock_quantity" id="stock-quantity" value="<%= @shoe.stock_quantity %>">

  <label for="stock-cost">Stock Cost: £</label>
  <input type="number" name="stock_cost" id="stock-cost" value="<%= @shoe.stock_cost %>">

  <label for="selling-price">Selling Price: £</label>
  <input type="number" name="selling_price" id="selling-price" value="<%= @shoe.selling_price %>">
</form>
