<h2>Edit Shoe Details</h2>

<form action="/shoes/<%= @shoe.id %> " method="post">
  <label for="name">Shoe Name: </label>
  <input type="text" name="name" id="name" value="<%= @shoe.name %>">
  <br>
  <label for="brand-select">Brand: </label>
  <select id="brand-select" name="brand_id" selected=" <%= @shoe.brand_id %> ">
    <% @brands.each do |brand|  %>
      <% if  brand.id == @shoe.brand_id %>
      <option value=<%= brand.id %> selected> <%= brand.name %> </option>
      <% else %>
      <option value= <%= brand.id %>> <%= brand.name %> </option>
      <% end  %>
    <% end  %>
  </select>
  <br>
  <label for="type">Shoe Type: </label>
  <input type="text" name="type" id="type" value="<%= @shoe.type %>">
  <br>
  <label for="purchase-price">Purchase Price: £</label>
  <input type="number" min="0" name="purchase_price" id="purchase-price" value="<%= @shoe.purchase_price %>">
  <br>
  <label for="selling-price">Selling Price: £</label>
  <input type="number" min="0" name="selling_price" id="selling-price" value="<%= @shoe.selling_price %>">
  <br>
  <input type="submit" value="Update Shoe Details">

</form>
