<h1>Shoe Catalogue</h1>
<p>Click on the shoe name to delete or update the products</p>

<hr>

<h3><a href="/shoes/new">Add a new product</a></h3>
<hr>
<h3><a href="/stock_items/new">Add Stock</a></h3>

<hr>

<% @shoes.each do |shoe| %>
<p><a href="/shoes/<%= shoe.id %>">Name: <%= shoe.name %></a></p>
<p>Brand: <%= shoe.brand %> </p>
<p>Type: <%= shoe.type %> </p>
<p>Purchase Price: £<%= shoe.purchase_price %>  </p>
<p>Selling Price: £<%= shoe.selling_price %>  </p>
<p>Markup: <%= shoe.markup %> </p>


<hr>
<hr>
<% end %>
