<h1>Shoe Inventory</h1>

<% @shoes.each do |shoe| %>
<p><a href="/shoes/<%= shoe.id %>">Name: <%= shoe.name %></a></p>
<p>Brand: <%= shoe.brand %> </p>
<p>Type: <%= shoe.type %> </p>
<p>Stock Quantity: <%= shoe.stock_quantity %> </p>
<p>Stock Cost: £<%= shoe.stock_cost %>  </p>
<p>Selling Price: £<%= shoe.selling_price %>  </p>
<hr>
<hr>
<% end %>
