<h2> <%= @shoe.name %> </h2>
<h3> <%= @shoe.brand %> </h3>
<p> Type: <%= @shoe.type %> </p>
<p> Stock Quantity: <%= @shoe.stock_quantity %></p>
<p><%= @shoe.stock_level %></p>
<p> Stock Cost: £ <%= @shoe.stock_cost %> </p>
<p> Selling Price: £ <%= @shoe.selling_price %> </p>
<p> Markup: £ <%= @shoe.markup %> </p>
<hr>


<!-- not functional yet -->
<form action="/shoes/<%= @shoe.id %>" method="post">
  <label for="add-stock">Stock to add: </label>
  <input type="number" name="" id="add-stock">
  <input type="submit" name="" value="Add new Stock">
</form>

<form action="/shoes/<%= @shoe.id %>/delete" method="post">
  <input type="submit" name="" value="Delete All Stock">
</form>
